head {
  background-color: rgb(6, 34, 34);
}

body {
  background-color: rgb(6, 34, 34);
  color: ivory;
  text-align: center;
  
  header {
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 17, 17);
  }

  main {
    text-align: center;
    color: ivory;
    min-height: calc(100vh - 150px);
    display: block;

    .centered {
      max-width: 600px;
      margin: 0 auto;
    }

    .mainPara {
      text-align: left;
    }

    .columns {
      display: flex;
      justify-content: center;
    }

    .column1, .column2 {
      flex: 1;
      max-width: 300px;
      text-align: left;
    }

    .column1 {
      margin-right: 20px;
    }

    .quizInfo {
      margin-top: 50px;
    }

    .footerSpace  {
      display: inline-block; 
      height: 200px;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
  }
  
  .contactInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;

    p {
      margin: 0;
    }
  }
}
