head {
  background-color: rgb(6, 34, 34);
}

body {
  background-color: rgb(6, 34, 34);
  color: ivory;
  text-align: center;
  
  header {
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 17, 17);
  }

  main {
    .mainPara {
      max-width: 600px;
      margin: 0 auto;
      text-align: left;
    }

    .quizInfo {
      margin-top: 150px;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53, 53, 53);
  }
  
  .contactInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px 400px;

    p {
      margin: 0;
    }
  }
}
